<html>
<head>
    <title>
        Registrar Empleado
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    <link href="../../assets/css/cssRegistrar.css" rel="stylesheet"/>
</head>
<body style="background-color: #f1c5abf3;">


    <center>
    <div class="container register-form">
                <div class="form">
                    <div class="note">
                        <h1>Registrar Empleado</h1>
                    </div>
                    
                    <div class="form-content" style="background-color: #f0b291e7;">
                        <form>
                            <div class="col-md-8">

                                <div  class="form-group">
                                    <input type="hidden" class="form-control"  name="id" >
                                </div>
                            <div class="row">
                                <div class="col">
                                    <label>Nombre del Empleado</label>
                                  <input type="text" class="form-control" placeholder="nombres">
                                </div>
                                <div class="col">
                                    <label>Apellido del Empleado</label>
                                  <input type="text" class="form-control" placeholder="apellidos">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress2">Direccion del Empleado</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                            </div>
                            <div class="form-group">
                                <label>Celular del Empleado</label>
                                <input type="text" class="form-control" placeholder="como 320-0000-000">
                            </div>
                            <div class="row">

                                <div class="col">
                                    <label>Documento del Empleado</label>
                                  <input type="text" class="form-control" placeholder="como num de Cedula">
                                </div>
                                <div class="col">
                                    <label for="inputAddress2">Fecha de nacimiento del Cliente</label>
                                <input type="date" class="form-control" ">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label>Id Usuario del Empleado</label>
                                  <input type="text" class="form-control" placeholder="codigo de Usuario">
                                </div>
                                <div class="col">
                                    <label for="inputAddress2">Id Cargo del Empleado</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="Cargo del empleado">
                                </div>
                            </div>
                            <br>
                            <div>
                            <button type="submit" class="btn btn-primary">Registrar</button>
                            </div>
                            </div>
                        </div>
                          </form>
                        </center>
                    </div>
                            
                            
                    
                    
                
            
                </div>
    </div>

            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>


