<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <title>Tabla Cargo</title>
</head>

<body >

    <div class="container">
        <center>
        <div class="col-md-8">
            <div class="table-responsive">
            
        <table class="table table-hover table-dark">
            <thead>
               
                    <div class="title">
                        <h1>Consultar Cargo empleado</h1>
                        <a class="btn btn-primary" th:href="@{new}" role="button">Nuevo</a>
                    </div>
                
              <tr>
                <th scope="col" >ID</th>
                <th scope="col">Nombre Cargo Usuario</th>
                <th scope="col" class="text-right">Acciones</th>
              </tr>
            </thead>
                    <tbody>
                       
                            <tr th:each="cEmple:${listCe}">
                            <td th:text="${cEmple.idCargoEmpleado}"></td>
                            <td th:text="${cEmple.nombreCargoEmpleado}"></td>
                            <td class="text-center">
                                
                            <a class='btn btn-success btn-xs' style="width: 100px;" th:href="@{edit/} + ${cEmple.idCargoEmpleado}">Actualizar</a> 
                            <a href="#" class="btn btn-danger btn-xs " style="width: 100px;" onclick="javascript:return confirm('Seguro que desea eliminar el registro?');" th:href="@{delete/} + ${cEmple.idCargoEmpleado}">Borrar</a>
                            </td>
                        </tr>
                    </tbody>    
                </table>
                </center>
                </div>
            </div>
        </div>
        
            
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    </body>
</html>

